@charset 'utf-8';

.box{
    /* box-sizing을 안하면 padding의 크기에 height의 크기가 더해진
    박스가 생성이 됨. 따라서 높이가 120이 되기 때문에 이를 막기 위해 box-sizing을 이용 */
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    font-size: 30px;
    color:white;
    background-color: red;
    display: inline-block;
    text-align: center;
    padding-top: 25px;
}

#h,
#k{
    position: relative;
}

/* hover기능은 position이 relative일때만 적용가능 (static일때 적용안됨) */
#h:hover{
    top: 20px;
    left: 20px;
    background-color: green;
}

#t:hover{
    bottom: 20px;
    left: 20px;
    background-color: green;
}
