@charset 'utf-8';

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size:14px;
    margin: 0px;
    padding: 0px;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
}

body {
    background-color: #fff;
    font-family: 'Georgia','Nanum Gothic';
    color: #333;    
}

ul, ol {
    list-style: none;
}

div {
    border: solid 1px black;
    display: block;
}

.container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.container::after {
    clear:both;
    content:"";
    display: block;
}

.navbar-header {
    position: relative;
    float: left;
    vertical-align: top;
}

.navbar-brand {
    display: inline-block;
    padding: 0 15px;
    line-height: 87px;
}

.collapse {
    width: 1140px;
    height: 90px;
    max-height: 340px;
    padding-left: 200px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: -15px;
    display: block
}

.navbar-nav {
    float: right;
    margin: 0;
    height: 90px;
}

.navbar-nav>li {
    position: relative;
    display: inline-block;
}

ul.navbar-nav>li>a {
    text-decoration:none;
    line-height: 87px;
    color: #aaa;
    font-family: Georgia;
    font-size: 13px;
    letter-spacing: .1em;
    padding: 0 25px;
    vertical-align: middle;
}






