@charset 'utf-8';

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* font-size:14px; */
    margin: 0px;
    padding: 0px;
    /* font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif; */
}

body {
    background-color: #fff;
    font-family: 'Georgia','Nanum Gothic', 'Abel';
    color: #333;    
}

ul, ol {
    list-style: none;
}

/* div {
    border: solid 1px black;
    display: block;
} */

.dsgn-body {
    background-attachment: fixed;
    height: 100%;
}


.carousel-indicators {
    top: 0px;
    margin-top: 0px;
    position: relative;
    height: 100%;
}

.carousel-inner {
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.item {
    opacity: 1;
    height: 100%;
    background-color: #000;
    left: 0;
}
