@charset 'utf-8';

/* div {
    border: solid 1px black;
    display: block;
} */

.link-to-snap {
    position: relative;
    padding: 40px 0;
    margin-top: 92px; 
}

.link-to-snap>.container-snap {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.link-to-snap>.container-snap>.row-snap {
    margin-right: -15px;
    margin-left: -15px;
}

.gallery-category-wrap {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
    max-width: 100%;
    display: block;
}

.gallery-category-wrap::after {
    clear:both;
    content:"";
    display: block;
}

.navbar-nav-snap {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-nav-snap>li {
    display: inline-block;
    margin-bottom: 5px;
}


.navbar-nav-snap>li>a {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    color: #545454;
    padding-left: 7px;
    padding-right: 7px;
}


